body {
  background-image: url("background image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: arial;
}
.content {
  margin-left: 4%;
  height: auto;
  margin-bottom: 10%;
}

.img {
  justify-content: center;
  align-items: center;
}

.img img {
  height: 250px;
  width: 250px;
  margin-left: 40%;
  margin-top: 5%;
  object-fit: cover;
  object-position: 80% 20%;
  border-radius: 200%;
}

.info {
  margin-top: 10px;
  flex-flow: column;
  text-align: center;
}

.info h1 {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 7px rgb(29, 5, 253), 0 0 10px rgb(29, 5, 253),
    0 0 21px rgb(29, 5, 253), 0 0 42px rgb(10, 11, 114),
    0 0 82px rgb(29, 5, 253), 0 0 92px rgb(29, 5, 253),
    0 0 102px rgb(29, 5, 253), 0 0 151px rgb(29, 5, 253);
}

.info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 7px rgb(29, 5, 253), 0 0 10px rgb(29, 5, 253),
    0 0 21px rgb(29, 5, 253), 0 0 42px rgb(10, 11, 114),
    0 0 82px rgb(29, 5, 253), 0 0 92px rgb(29, 5, 253),
    0 0 102px rgb(29, 5, 253), 0 0 151px rgb(29, 5, 253);
}

.info h4 {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 7px rgb(29, 5, 253), 0 0 10px rgb(29, 5, 253),
    0 0 21px rgb(29, 5, 253), 0 0 42px rgb(10, 11, 114),
    0 0 82px rgb(29, 5, 253), 0 0 92px rgb(29, 5, 253),
    0 0 102px rgb(29, 5, 253), 0 0 151px rgb(29, 5, 253);
}
